/*
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  name = 'compile-latex'
  author = 'MaxUlysse'
  homePage = 'https://github.com/MaxUlysse/compile-latex'
  description = 'Compile LaTeX Beamer documents'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = 'dev'
}

params {
  biblio = 'biblio.bib'
  help = false
  notes = null
  notesOnly = null
  outDir = "${PWD}"
  outName = null
  pictures = 'pictures'
  tag = 'latest'
}

process {
  scratch = true
  shell = ['/bin/bash', '-xeuo', 'pipefail']
  container = "maxulysse/compile-latex:${params.tag}"
}

docker {
  enabled = true
  fixOwnership = true
}

profiles {
  test {
    params.tex = 'sample.tex'
  }
}
